spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/nft
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
mqtt:
  brokerUri: ${MQTT_BROKER:tcp://127.0.0.1:1883}
  clientId: hydroleaf-backend-local
  topics:
    - growSensors/#
    - waterTank/#
    - germinationTopic/#
    - actuator/oxygenPump/#
    - water_flow
  qos: 1
  topicPrefix: ""
  enabled: true
  publishEnabled: false
livefeed:
  rate: 2000
server:
  ssl:
    enabled: false
